@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

img#foto-principal {
    width: 22%;
    right: 11%;
}

section.second-content {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

section.second-content h2 {
    font-size: 3rem;
}

article.artigo {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: justify;
    padding: 2%;
    margin: auto;
}

article.artigo h2 {
    text-align: center;
}

article.artigo p {
    font-family: 'Roboto', sans-serif;
    line-height: 2.5rem;
    text-align: justify;
    color: rgba(0,0,0,.7);
    width: 70%;
}

section.second-content a#link-image {
    position: relative;
    margin: auto;
    width: 40%;
}

img#gifjanela {
    width: 100%;
    max-width: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,.8);
    border-radius: 15px;
    cursor: pointer;
}

div.jogue-ja {
    position: relative;
    margin-top: 1%;
    background: #863c79;
    padding: 2%;
    width: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,.8);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

div.jogue-ja:hover {
    border: 3px solid #ffffff;
}

div.jogue-ja span {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    left: 42%;
}

section.second-content a#link-div {
    position: relative;
    margin: auto;
    width: 40%;
    text-decoration: none;
    margin-bottom: 1%;
}

/*MEDIA QUERIES*/

@media (max-width: 560px) {

    img#foto-principal {
        width: 28%;
        right: 3%;
        margin-top: 2%;
    }

    div.text {
        margin-left: 5%;
    }
    
    section.second-content a#link-image {
        width: 60%;
    }

    div.jogue-ja span {
        left: 39%;
    }

}

@media (max-width: 514px) {
    section.first-content {
        flex-direction: column-reverse;
    }

    div.text {
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-top: 0;
        text-align: center;
        left: -1.5%;
    }

    div.text h1 {
        font-size: 7rem;
        line-height: 10rem;
    }

    div.text p {
        font-size: 4rem;
        line-height: 6rem;
    }


    img#foto-principal {
        position: relative;
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 15%;
        right: 0;
    }

    section.second-content h2 {
        font-size: 7rem;
    }

    article.artigo p {
        font-size: 4rem;
        line-height: 6rem;
        padding-right: 3%;
    }

    section.second-content a#link-image {
        width: 80%;
    }

    section.second-content a#link-div {
        width: 80%;
        margin-bottom: 10%;
    }
    
    div.jogue-ja span {
        font-size: 4rem;
    }
}
