@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

section.first-content {
    max-width: 80%;
    flex-direction: column;
}

div.text {
    width: 100%;
    padding-bottom: 3%;
    right: 0;
}

div.text h1 {
    text-align: center;
}

fieldset {
    border-radius: 15px;
    height: 350px;
}

form.formu {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}

form.formu p {
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,.7);
    font-weight: bolder;
}

form.formu input {
    margin: 5px;
    width: 100%;
    height: 40vh;
}

form.formu input.txtbox.paint {
    border: 2px solid #863c79;
}

form.formu input.mailbox.paint {
    border: 2px solid #863c79;
}

/*form.formu input#button {
    width: 25%;
    margin: auto;
    background-color: #863c79;
    color: #ffffff;
    padding: 7px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
   */

form.formu input#button:hover {
    background-color: #a74995;
}

textarea {
    margin: 1%;
    width: 100%;
    resize: none;
}

textarea.msgbox.paint {
    border: 2px solid #863c79;
}

/*MEDIA QUERIES*/

@media (max-width: 1280px) {
    section.first-content {
        margin-top: -2%;
    }
}

@media (max-width: 768px) {

    section.first-content {
        margin-top: -4%;
        height: 90vh;
    }

    fieldset {
        margin-top: 50px;
    }

    form.formu input {
        height: auto;
    }

    form.formu input#button {
        margin-bottom: 160px;
    }
}

@media (max-width: 560px) {

    section.first-content {
        margin-top: -1%;
    }
}

@media (max-width: 514px) {

    section.first-content {
        margin-top: 1%;
    }

    div.text h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    form.formu p {
        font-size: 3rem;
    }

    form.formu input#button {
        width: 30%;
        padding: 8px;
        font-size: 3rem;
    }
}

@media (max-width: 414px) {

    section.first-content {
        max-width: 100%;
        height: 80vh;
    }

    div.text h1 {
        position: relative;
        font-size: 10rem;
        line-height: 11rem;
        right: 40px;
    }

    fieldset {
        margin-top: 30px;
    }

    form.formu {
        width: 80vw;
        height: 300px;
        margin: auto;
    }

    form.formu p {
        font-size: 3.5rem;
    }

    form.formu input#button {
        width: 40%;
        padding: 12px;
        font-size: 3.5rem;
        margin-top: 15px;
    }
}

@media (max-width: 375px) {

    section.first-content {
        height: 90vh;
    }

    form.formu {
        width: 80vw;
        height: 250px;
    }

    form.formu p {
        font-size: 3.5rem;
    }

    form.formu input#button {
        width: 40%;
        padding: 12px;
        font-size: 3.5rem;
    }
}