@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

img#foto-principal {
    width: 22%;
    right: 11%;
}

section.second-content {
    margin-top: 5%;
    padding: 8%;
    padding-bottom: 2%;
}

section.second-content h2 {
    margin-top: -7%;
}

form.form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 45vh;
    margin: auto;
    margin-top: -1%;
    padding: 10px;
    border-radius: 15px;
}

fieldset {
    border: 3px solid #ffffff;
    border-radius: 15px;
    width: 100%;
}

textarea {
    position: relative;
    padding: 1%;
    width: 100%;
    resize: none;
    border-radius: 15px;
}

textarea.msgbox.paint {
    border: 3px solid #863c79;
}

input#button {
    width: 25%;
    margin: auto;
    margin-top: 1%;
    background-color: #863c79;
    color: #ffffff;
    padding: 7px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
}

input#button:hover {
    background-color: #a74995;
}

/*MEDIA QUERIES*/

@media (max-width: 1280px) {
    img#foto-principal {
        width: 21.5%;
        right: 10%;
    }

    input#button {
        margin-top: 1%;
    }
}

@media (max-width: 560px) {
    img#foto-principal {
        width: 28%;
        right: 5%;
    }

    input#button {
        font-size: 3rem;
    }
}
