@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


img#foto-principal {
    width: 22%;
    right: 11%;
}

section.first-content {
    background: #E4F3F0;
    height: auto;
}

section.second-content {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: rgba(0,0,0,.7);
    margin: 2%;
}

section.second-content h2 {
    color: rgba(0,0,0,.7);
}

ul.dicas {
    list-style: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 80px;
    padding: 2%;
}

ul.dicas li {
    background: #ffffff;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 3%;
    padding: 2%;
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 4px 4px 7px rgba(0,0,0,.3);
    transition: all .3s ease-in;
    border-radius: 15px;  
}

ul.dicas li span {
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,.7);
    text-align: center;
}

ul.dicas li:hover {
    background: #E4F3F0;
    transform: scale(1.1);
}

ul.dicas li:hover span {
    font-weight: bolder;
}

ul.dicas span.fonte {
    position: relative;
    color: rgba(0,0,0,.7);
    font-size: 1.3rem;
    left: 39%;
    margin-top: -20%;
}

ul.dicas span.fonte span#fonte1 {
    font-weight: bolder;
}

/*MEDIA QUERIES*/

@media (max-width: 1280px) {

    section.first-content {
        width: 100%;
        max-width: 100%;
    }

    div.text {
        width: 60%;
    }
}

@media (max-width: 768px) {

    div.text {
        width: 60%;
        left: 2%;
    }
}

@media (max-width: 650px) {

    img#foto-principal {
        margin-top: 3%;
    }

    ul.dicas span.fonte {
        left: 16.5%;
    }
}

@media (max-width: 514px) {

    section.first-content {
        flex-direction: column-reverse;
    }

    div.text {
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-top: 0;
        text-align: center;
        left: -1.5%;
    }

    div.text h1 {
        font-size: 7rem;
        line-height: 10rem;
    }

    div.text p {
        font-size: 4rem;
        line-height: 6rem;
    }


    img#foto-principal {
        position: relative;
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 15%;
        right: 0;
    }

    section.second-content h2 {
        font-size: 7rem;
    }

    ul.dicas li {
        width: 80%;
        margin-bottom: 5%;
        padding: 5%;
    }

    ul.dicas li span {
        color: rgba(0,0,0,.7);
        font-size: 3rem;
    }

    ul.dicas span.fonte {
        font-size: 2.5rem;
        left: 5%;
    }
}