@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: #ffffff;
    font-size: 1.6rem;
}

header {
    width: 100%;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #863c79;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

div.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bolder;
}

nav.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.menu ul li {
    margin-left: 10px;
}

nav.menu ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
}

nav.menu ul li a span {
    padding: 7px;
    border-radius: 5px;
    transition: 0.1s;
}

nav.menu ul li a span:hover {
    border: #ffffff solid;
}

section.first-content {
    display: block;
    background: #ffffff;
    width: 100%;
    max-width: 100%;
    padding: 3%;
}

div.text {
    position: relative;
    width: 50%;
    color: rgba(0,0,0,.7);
    margin-top: 4.5%;
    right: 15%;
}

div.text h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

div.text p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 3%;
    line-height: 2.5rem;
}

img#foto-principal {
    position: absolute;
    right: 150px;
    margin-top: -26%;
    width: 30%;
    height: auto;
}

section.second-content {
    display: block;
    background: #d6b7d1;
    width: 100%;
    max-width: 100%;
    padding: 1%;
}

section.second-content h2 {
    font-size: 3.0rem;
    font-family: 'Hammersmith One', sans-serif;
    color: #863c79;
    text-align: center;
    margin: 25px;
}

ul.cards {
    list-style: none;
    width: 60%;
    height: 68vh;
    margin-bottom: 80px;
}

ul.cards li {
    float: left;
    width: 30%;
    height: 30vh;
    margin: 1.6%;
    padding: 2%;
    box-shadow: 4px 4px 7px rgba(0,0,0,.6);
    transition: all .5s ease-in;
    border-radius: 15px;  
}

ul.cards li:hover{
    border:#863c79 solid;
}

ul.cards li#foto01  {
    background: url(../imagens/desabafo.jpeg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto01:hover {
    transform: scale(1.1);
}

div#leg01 {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 5.8rem;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#leg01:hover {
    opacity: 1;
}

ul.cards li#foto02  {
    background: url(../imagens/aprendendo-a-lidar.jpg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto02:hover {
    transform: scale(1.1);
}


ul.cards li div#leg02 {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -2px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 4.5rem;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

ul.cards li div#leg02:hover {
    opacity: 1;
}


ul.cards li#foto03  {
    background: url(../imagens/familia.jpg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto03:hover {
    transform: scale(1.1);
}

ul.cards li#foto04  {
    background: url(../imagens/mentecoracao.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto04:hover {
    transform: scale(1.1);
}

ul.cards li#foto05  {
    background: url(../imagens/menteconfusa.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto05:hover {
    transform: scale(1.1);
}

div#leg03 {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 3.6rem;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#leg03:hover {
    opacity: 1;
}

ul.cards li#foto06  {
    background: url(../imagens/menteregada.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto06:hover {
    transform: scale(1.1);
}

footer.rodape {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #863c79;
    color: #ffffff;
    padding: 5%;
    font-size: 1.3rem;
    clear: both;
}

/*MEDIA QUERIES*/
/*
@media (max-width: 1920px) {
    html {
        font-size: 70%;
    }

    section.first-content {
        width: 100%;
        max-width: 70%;
    }

    div.text {
        width: 75%;
    }

    img#foto-principal {
        right: 220px;
        margin-top: -20%;
        width: 23%;
    }

    ul.cards li div#leg01 {
        font-size: 2rem;
        padding: 9rem;
    }

    ul.cards li div#leg02 {
        font-size: 2rem;
        padding: 3.4em;
    }

    ul.cards li div#leg03 {
        font-size: 2rem;
        padding: 3em;
    }
}
*/

@media (max-width: 1280px) {

    html {
        font-size: 62.5%;
    }

    section.first-content {
        width: 70%;
    }

    div.text {
        width: 85%;
    }

    div.text h1 {
        font-size: 3rem;
        margin-top: 10%;
    }

    img#foto-principal {
        right: 60px;
        margin-top: -25%;
        width: 27%;
    }

    ul.cards li div#leg01 {
        font-size: 1.5rem;
        padding: 7rem;
    }

    ul.cards li div#leg02 {
        font-size: 1.5rem;
        padding: 5.8rem;
    }

    ul.cards li#foto04  {
        background-size: 280px;
    }

    ul.cards li div#leg03 {
        font-size: 1.5rem;
        padding: 5rem;
    }

    ul.cards li#foto05  {
        background-size: 290px;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 40%;
    }

    section.first-content {
        width: 100%;
        max-width: 80%;
        padding: 8%;
    }

    div.text {
        width: 90%;
        right: 10vh;
    }

    img#foto-principal {
        right: 20px;
        margin-top: -27%;
        width: 30%;
    }

    ul.cards {
        width: 90%;
        height: 40vh;
    }
    
    ul.cards li {
        width: 30%;
        height: 18vh;
    }

    ul.cards li div#leg01 {
        font-size: 2rem;
        padding: 9.5rem;
    }

    ul.cards li div#leg02 {
        font-size: 2rem;
        padding: 8rem;
    }

    ul.cards li div#leg03 {
        font-size: 2rem;
        padding: 7rem;
    }

    footer.rodape {
        height: 180px;
        padding: 90px;
        font-size: 1.7rem;
    }

}

@media (max-width: 650px) {

    section.first-content {
        width: 100%;
    }

    div.text  {
        width: 100%;
        right: 90px;
    }

    img#foto-principal {
        right: 20px;
        margin-top: -29%;
        width: 30%;
    }

    ul.cards li div#leg01 {
        padding: 9.5rem;
    }

    ul.cards li div#leg02 {
        padding: 7rem;
    }

    ul.cards li div#leg03 {
        padding: 7rem;
    }

}
