@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dfc9dc;
   
}

header {
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 9.5vh;
    background-color: #863c79;
}

h1#logo a {
    color: #ffffff;
    float: left;
    text-decoration: none;
    margin: 0.1%;
    margin-left: 1%;
    padding: 0.1%;
    font-family: 'Hachi Maru Pop', cursive;
}

nav#menu ul {
    list-style: none;
    padding: 0;
}

nav#menu ul li {
    display: inline;
    font-size: 14pt;
}

nav#menu ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1.490%;
    transition: background .4s;
}

nav#menu ul li#opcao a:hover {
    background-color: #582a50;
}

section#content {
    display: block;
    background: #dfc9dc;
    margin-top: 4.5%;
    width: 40%;
    padding: 2%;
    float: left;
}

article#title h1 {
    font-size: 43pt;
    color: rgba(0, 0, 0,.7);
    margin-top: 2%;
    padding: 1%;
}

aside#lateral {
    display: block;
    width: 60%;
    float: right;
    margin-top: 5%;
    padding: 2%;
    background: #dfc9dc;
}

ul#cards {
    list-style: none;
    width: 100%;
    height: 100vh;
}

ul#cards li {
    float: left;
    width: 30%;
    height: 30vh;
    margin: 1.5%;
    padding: 2%;
    background-color: rgba(0, 0, 0,.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,.6);
    transition: all .3s ease-in;
    border-radius: 15px;   
}

ul#cards li#foto01 span {
    opacity: 0;
    background: #8662a7;
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul#cards li#foto01:hover span {
    opacity: 1;
}

ul#cards li#foto01  {
    background: url("../imagens/depressao.jpeg") no-repeat;
    background-position: 50%;
    background-size: 245px;
}

ul#cards a {
    color: black;
}

footer#rodape p {
    text-align: center;
    width: 100%;
    background-color: #863c79;
    color: #ffffff;
    padding: 3%;
    font-size: 10pt;
    clear: both;
}

/*#90A5AB #FF0000 #F2F2F2 #E0E0C3 #E4F0CC #003844 #D1FFC6 #0072BB  #2e7a8d */

