@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ffffff;
   
}

header {
    width: 100%;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #863c79;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

div.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bolder;
}

nav.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav.menu ul li {
    margin-left: 10px;
}

nav.menu ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: 0.8s ease;
}

nav.menu ul li a:hover {
    color: #ffffff;
}

nav.menu ul li a span {
    padding: 7px;
    border-radius: 5px;
    transition: 0.1s;
}

nav.menu ul li a span:hover {
    border: #ffffff solid;
}

section.content {
    display: block;
    background: #ffffff;
    margin-top: 4.5%;
    width: 100%;
    max-width: 100%;
    padding: 2%;
}

article.title {
    width: 80%;
    color: rgba(0,0,0,.7);
    text-align: left;
    margin-top: 0px;
}

article.title div {
    position: relative;
    width: 60%;
    right: 200px;
}

article.title p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 30px;
}

div.text {
    position: relative;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bolder;
    width: 60%;
    right: 200px;
    font-size: 25pt;
    margin-top: 20px;
}

article.title h2 {
    font-size: 15pt;
    font-family: 'Hammersmith One', sans-serif;
    color: #ffffff;
    background-color: #863c79;
    border-radius: 10px;
    padding: 2px;
    margin-top: 48px;
    float: left;
    width: 100%;
    text-align: center;
}

img#foto-principal {
    position: absolute;
    right: 120px;
    margin-top: -27%;
    width: 33%;
    height: 65vh;
}

div.cards-content  {
    background-color: #ffffff;
    width: 100%;
}

ul.cards {
    list-style: none;
    width: 60%;
    height: 100vh;
    border-radius: 10px;
    height: 68vh;
    margin-top: 130px;
}

ul.cards li {
    float: left;
    width: 30%;
    height: 30vh;
    margin: 1.5%;
    padding: 2%;
    background-color: rgba(0, 0, 0,.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,.6);
    transition: all .3s ease-in;
    border-radius: 15px;  
}

ul.cards li:hover{
    border:#863c79 solid;
}

/*ul.cards li#foto01 span {
    opacity: 0;
    font-size: 8.5pt;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto01:hover span {
    opacity: 1;
}*/

ul.cards li#foto01  {
    background: url(../imagens/desabafo.jpeg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto01:hover {
    transform: scale(1.1);
}

div#desabafe {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 65px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#desabafe:hover {
    opacity: 1;
}

/*ul.cards li#foto02 span {
    opacity: 0;
    font-size: 8.5pt;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto02:hover span {
    opacity: 1;
}*/

ul.cards li#foto02  {
    background: url(../imagens/aprendendo-a-lidar.jpg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto02:hover {
    transform: scale(1.1);
}

div#aprenda {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 55px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#aprenda:hover {
    opacity: 1;
}

/*ul.cards li#foto03 span {
    opacity: 0;
    font-size: 8.5pt;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto03:hover span {
    opacity: 1;
}*/

ul.cards li#foto03  {
    background: url(../imagens/familia.jpg) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto03:hover {
    transform: scale(1.1);
}

div#familia {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -2px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 50px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#familia:hover {
    opacity: 1;
}


/*ul.cards li#foto04 span {
    opacity: 0;
    font-size: 8.5pt;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto04:hover span {
    opacity: 1;
}*/

ul.cards li#foto04  {
    background: url(../imagens/mentecoracao.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto04:hover {
    transform: scale(1.1);
}

div#conciencia {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 55px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#conciencia:hover {
    opacity: 1;
}


/*ul.cards li#foto05 span {
    opacity: 0;
    font-size: 8.5pt;
    background: hsla(0, 0%, 0%, 0.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto05:hover span {
    opacity: 1;
}*/

ul.cards li#foto05  {
    background: url(../imagens/menteconfusa.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto05:hover {
    transform: scale(1.1);
}

div#tristeza {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 45px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#tristeza:hover {
    opacity: 1;
}


/*ul.cards li#foto06 span {
    opacity: 0;
    font-size: 8.5pt;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    color: #ffffff;
    padding: 3%;
    transition: 1s;
}

ul.cards li#foto06:hover span {
    opacity: 1;
}*/

ul.cards li#foto06  {
    background: url(../imagens/menteregada.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards li#foto06:hover {
    transform: scale(1.1);
}

div#cvv {
    position: relative;
    text-align: center;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: -6px;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    width: 100%;
    padding: 45px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

div#cvv:hover {
    opacity: 1;
}

/*ul.cards a {
    color: black;
}*/

footer.rodape p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #863c79;
    color: #ffffff;
    padding: 5%;
    font-size: 10pt;
    clear: both;
}

/*#90A5AB #FF0000 #F2F2F2 #E0E0C3 #E4F0CC #003844 #D1FFC6 #0072BB  #2e7a8d */

