@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

section.first-content3 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: auto;
    max-width: 90%;
    padding: 3%;
}

div.text3 {
    position: relative;
    color: rgba(0,0,0,.7);
    margin-top: 4.5%;
}

div.text3 h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
}

div.text3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 3%;
    line-height: 2.5rem;
    text-align: justify;
}

ul.cards-creators {
    list-style: none;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
    margin-top: 3%;
}

ul.cards-creators li {
    float: left;
    width: 13vw;
    height: 20vh;
    margin: 1.6%;
    padding: 8%;
    box-shadow: 4px 4px 7px rgba(0,0,0,.6);
    transition: all .1s ease-in;
    border-radius: 100%;  
}

ul.cards-creators li:hover{
    border:#863c79 solid;
}

div#name {
    opacity: 0;
}

ul.cards-creators li#foto1  {
    background: url(../imagens/foto1.jpeg) no-repeat;
    background-position: 50%;
    background-size: 185px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards-creators li#foto1:hover {
    transform: scale(1.1);
}

ul.cards-creators li#foto2  {
    background: url(../imagens/foto2.jpeg) no-repeat;
    background-position: 50%;
    background-size: 182px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards-creators li#foto2:hover {
    transform: scale(1.1);
}

ul.cards-creators li#foto3  {
    background: url(../imagens/foto3.jpeg) no-repeat;
    background-position: 50%;
    background-size: 310px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards-creators li#foto3:hover {
    transform: scale(1.1);
}

ul.cards-creators li#foto4  {
    background: url(../imagens/foto4.jpg) no-repeat;
    background-position: 0 20%;
    background-size: 200px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards-creators li#foto4:hover {
    transform: scale(1.1);
}

ul.cards-creators li#foto5  {
    background: url(../imagens/menteconfusa.png) no-repeat;
    background-position: 50%;
    background-size: 245px;
    transition: 0.5s;
    cursor: pointer;
}

ul.cards-creators li#foto5:hover {
    transform: scale(1.1);
}

ul.cards-creators li div {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    right: 105px;
    width: 210px;
    margin-top: 110px;
    color: rgba(0,0,0,.7);
    /*background: #863c79;*/
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}